@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;700;900&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Cairo', sans-serif;
}


/* overwrite bootstrap inputs style  */

input[type=number]::-webkit-inner-spin-button {
    opacity: 1 !important;
}


/* our classes */

.main-bg {
    background: linear-gradient( #FFFAEC, #FEE085);
}

.main-color {
    color: #F9D036;
}

.active-bg {
    background-color: #012344;
}

button.active-bg:hover {
    color: #fff !important;
}

.alt-color {
    color: #012344 !important;
}

.main-hover:hover {
    color: #F9D036 !important;
}

.light-blue {
    color: #51CEC2;
}

.base-border {
    border: 1px solid #F9D036 !important;
}

.base-bg {
    background-color: #F9D036 !important;
}

button {
    cursor: pointer !important;
}

.radius {
    border-radius: 7px !important;
    -webkit-border-radius: 7px !important;
    -moz-border-radius: 7px !important;
    -ms-border-radius: 7px !important;
    -o-border-radius: 7px !important;
}

.rounded-lg {
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.green {
    color: #6BF5A2!important;
}

.blue {
    color: #6B99F5!important;
}

.orange {
    color: #FBBC73!important;
}

.red {
    color: #FB738A!important;
}

.accept-btn {
    background-color: #30C152 !important;
    color: #FFF;
}

.reject-btn {
    background-color: #EF476F !important;
    color: #FFF;
}

.print-btn {
    background-color: #2EC4B6 !important;
}

.text-light-blue {
    color: #2EC4B6 !important;
}

.text-reject {
    color: #EF476F !important;
}

button:hover {
    opacity: .8;
}

select {
    cursor: pointer;
}

table tr {
    line-height: 35px;
}

tr.shadow-sm {
    box-shadow: 0 0.250rem .9rem rgba(0, 0, 0, .075)!important;
}


/* splashb page  */

body.splash {
    background-image: url("../images/سبلاش.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
}


/* login page  */

.main-content {
    padding: 5rem 0;
    min-height: 100vh;
}

.form-holder {
    padding: 2rem 5rem;
}

.form-holder form label {
    font-size: .8rem;
}

.form-holder form .forget-password a {
    color: #51CEC2;
    font-size: .8rem;
}

@media (max-width:770px) {
    .form-holder form input {
        width: 100%;
    }
    .dataTables_wrapper .dataTables_filter {
        float: none !important;
    }
}


/* main dashboard  */

#wrapper {
    overflow-x: hidden;
}

.dashboard-body {
    background-color: #FFFBE6;
}


/* sidebar  */

#sidebar-wrapper {
    min-height: 100vh;
    margin-right: -15rem;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
    border-bottom: 2px solid #fff;
}

#sidebar-wrapper .sidebar-heading .profile_pic {
    width: 25px;
    height: 25px;
}

#sidebar-wrapper .list-group {
    width: 15rem;
}

.list-group-item {
    padding: .4rem 1.25rem;
    background-color: transparent;
}

#sidebar-wrapper .list-group a.active {
    background-color: #012344;
    color: #F9D036 !important;
}

.list-group-item-action:focus,
.list-group-item-action:hover {
    background-color: #012344;
    color: #F9D036 !important;
}

#page-content-wrapper {
    min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
    margin-right: 0;
}

#sidebar-wrapper .list-group .list-group-item i {
    font-weight: 600 !important;
}

#sidebar-wrapper .list-group .list-group-item:hover {
    background-color: #012344;
    color: #F9D036;
}

@media (min-width: 768px) {
    #sidebar-wrapper {
        margin-right: 0;
    }
    #page-content-wrapper {
        min-width: 0;
        width: 100%;
    }
    #wrapper.toggled #sidebar-wrapper {
        margin-right: -15rem;
    }
}

.collapse ul li a {
    color: #fff;
}

.list-group-item-action {
    color: #012344 !important;
}

.list-group-item-action:hover {
    color: #F9D036 !important;
}

.collapse ul li a {
    font-size: 16px !important;
}

#sidebar-wrapper .list-group .list-group-item i {
    font-weight: 600 !important;
    font-size: 12px;
}

.collapse ul li a {
    font-size: 16px !important;
    font-weight: 300 !important;
}


/* reports bg  */

.reborts-bg {
    background-color: #FFE480 !important;
}


/* navbar  */

nav .search-holder {
    width: 200px;
}

nav .search-holder input {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

nav .search-holder input:focus {
    border: 0 !important;
    outline: none !important;
}

nav .search-holder input::placeholder {
    color: #bfbdbd !important;
}

nav .search-holder button.input-group-text {
    border-top-right-radius: 20px !important;
    border-bottom-right-radius: 20px !important;
    color: #bfbdbd;
}


/* info cards  */

.info-card {
    border-radius: 13px;
    -webkit-border-radius: 13px;
    -moz-border-radius: 13px;
    -ms-border-radius: 13px;
    -o-border-radius: 13px;
}

.info-card .info span {
    font-size: 10px;
    color: #C1C1C1;
}


/* orders  */

.orders-container,
.orders-container .card {
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    border: 0;
    box-shadow: 0 .2rem .5rem rgba(0, 0, 0, .15)!important;
}

.orders-container .title a {
    color: #51CEC2;
}

.fa-map-marker-alt {
    color: #51CEC2;
}

.username {
    color: #012344 !important;
    font-weight: bold;
    font-size: 12px;
}

.orders-container .card .username {
    color: #012344 !important;
    font-weight: bold;
    font-size: 12px;
}

.description {
    font-size: 12px;
    color: #999999;
}

.description {
    font-size: 12px;
    color: #C1C1C1;
}

.orders-container .card button {
    font-size: 12px;
    font-weight: bold;
}

.cards-title {
    font-weight: bold;
    font-size: 13px;
}

a.show-all {
    color: #51CEC2;
    font-size: 12px;
    font-weight: bold;
}


/* charts  */

.chart,
.chart2,
.chart3 {
    position: relative;
    display: inline-block;
    /* margin: 20px 10px; */
    color: #999;
    font-size: 14px;
    text-align: center;
}

.chart div.position-absolute,
.chart2 div.position-absolute,
.chart3 div.position-absolute {
    top: 30%;
    right: 25%;
}


/* progress  */

.progresses-holder span.title {
    font-size: 9px;
    font-weight: bold;
}

.progresses-holder p {
    font-size: 9px;
}

.meter {
    height: 8px;
    /* Can be anything */
    position: relative;
    background: #F1F2F6;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;
    padding: 0;
}

.meter>span {
    display: block;
    height: 100%;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
}

.meter>span.green {
    background-color: #6BF5A2;
    background-image: linear-gradient( center bottom, #6BF5A2 37%, #6BF5A2 69%);
}

.meter>span.blue {
    background-color: #6B99F5;
    background-image: linear-gradient( center bottom, #6B99F5 37%, #6B99F5 69%);
}

.meter>span.orange {
    background-color: #FBBC73;
    background-image: linear-gradient( center bottom, #FBBC73 37%, #FBBC73 69%);
}

.meter>span.red {
    background-color: #FB738A;
    background-image: linear-gradient( center bottom, #FB738A 37%, #FB738A 69%);
}


/* user pages  */

h5.title-with-border {
    font-weight: 600;
    color: #012344;
}

h5.title-with-border::after {
    content: "";
    width: 60px;
    height: 3px;
    background-color: #51CEC2;
    display: block;
    margin: 5px;
}

h5.title-with-border span {
    width: 30px;
    padding-bottom: 5px;
    height: 3px;
    border-bottom: 3px solid #51CEC2;
    margin: 5px;
}


/* dataTables  */

div.dataTables_wrapper {
    width: auto;
    margin: 0 auto;
}

.dataTables_wrapper .dataTables_filter {
    float: left;
    margin: 0 5px;
}

.dataTables_wrapper thead,
table thead {
    background-color: #F9D036;
    color: #000;
    /* font-weight: 400; */
}

table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc {
    background: none;
}

@media(min-width:900px) {
    #example_filter .input-group {
        width: 250px;
    }
}

#example_filter .input-group {
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.dataTables_wrapper .dataTables_filter input:focus {
    height: 33px !important;
    border: none;
    outline: none;
    box-shadow: none !important;
}

.dataTables_wrapper .dataTables_filter input {
    height: 33px;
    background-color: #fff;
}

.dataTables_wrapper .dataTables_length select {
    border: 1px solid #dee2e6!important;
    padding: 0 10px;
    background-color: #fff;
}

table#agent.dataTable thead th {
    border-bottom: 0 !important;
    padding: 0 !important;
    font-size: 14px !important;
    font-weight: 600 !important;
}

table.dataTable tfoot th,
table.dataTable thead th {
    border-top: 0 !important;
    border-bottom: 0;
}

table.dataTable.no-footer {
    border: 0 !important;
}

table.dataTable tr {
    box-shadow: 3px 3px 10px rgba(0, 0, 0, .15);
}

table.dataTable tr,
table.dataTable td {
    margin: 10px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    background-color: #fff !important;
    padding: 3px !important;
    border: 1px solid #dee2e6;
    color: #000 !important;
    font-weight: bold !important;
    margin-left: 5px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.disabled {
    font-weight: normal;
}

.pagination .page-item {
    background: unset !important;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

.pagination .page-item.active .page-link {
    z-index: 3;
    border-radius: unset !important;
    background-color: transparent !important;
    color: #000;
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    -webkit-border-radius: unset !important;
    -moz-border-radius: unset !important;
    -ms-border-radius: unset !important;
    -o-border-radius: unset !important;
}

.pagination .page-item.active,
.dataTables_wrapper .dataTables_paginate .paginate_button.current {
    background-color: #F9D036 !important;
    border: 1px solid #F9D036 !important;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    background-color: #F9D036 !important;
    border: 1px solid #F9D036 !important;
}

.dataTables_wrapper .dataTables_paginate {
    padding-top: 1.5rem;
}

.paginate_button.previous,
.paginate_button.next {
    border: 1px solid #F9D036 !important;
}

.dataTables_info {
    display: none
}

.dataTables_wrapper .sorting_1 {
    background-color: transparent;
}

table.dataTable tbody tr.even .sorting_1,
table.dataTable tbody tr.odd .sorting_1 {
    background-color: transparent !important;
}

table.dataTable tbody tr.odd,
table.dataTable tbody tr.even {
    background-color: #fff !important;
}

table.dataTable tbody tr.odd:hover,
table.dataTable tbody tr.even:hover {
    background-color: #F9ECBB !important;
    cursor: pointer;
}

.dt-buttons .dt-button.buttons-pdf.buttons-html5,
.dt-button.buttons-excel.buttons-html5 {
    background-color: #EF476F !important;
    color: #fff !important;
    padding: 3px 20px;
    border: 0;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.dt-buttons .dt-button.buttons-pdf.buttons-html51 {
    background-color: #EF476F !important;
}

.dt-button.buttons-excel.buttons-html5 {
    background-color: #2EC4B6 !important;
}

div.dataTables_wrapper div.dataTables_paginate ul.pagination {
    margin: 2px 0;
    white-space: nowrap;
    justify-content: flex-start;
}

table.data-list-view.dataTable thead th:first-child,
table.data-thumb-view.dataTable thead th:first-child {
    padding-right: 10px;
}

.pagination .page-item:first-child:not(.prev-item) .page-link,
.pagination .page-item:last-child:not(.next-item) .page-link {
    background-color: transparent;
}

.pagination .page-item.next .page-link:after,
.pagination .page-item.previous .page-link:after {
    content: "" !important;
}

.pagination .page-item.previous .page-link::before {
    content: "" !important;
}

table.data-list-view.dataTable thead .sorting_asc:before,
table.data-list-view.dataTable thead .sorting_desc:before,
table.data-list-view.dataTable thead .sorting:before,
table.data-thumb-view.dataTable thead .sorting_asc:before,
table.data-thumb-view.dataTable thead .sorting_desc:before,
table.data-thumb-view.dataTable thead .sorting:before,
table.data-list-view.dataTable thead .sorting_asc:after,
table.data-list-view.dataTable thead .sorting_desc:after,
table.data-list-view.dataTable thead .sorting:after,
table.data-thumb-view.dataTable thead .sorting_asc:after,
table.data-thumb-view.dataTable thead .sorting_desc:after,
table.data-thumb-view.dataTable thead .sorting:after {
    content: "" !important;
}

.top {
    display: none;
}

.dataTables_wrapper.no-pagination div.dataTables_paginate {
    display: none !important;
}

.custom-control-input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

button,
input {
    overflow: visible;
}

.custom-control {
    position: relative;
    display: block;
    min-height: 1.45rem;
    padding-right: 1.5rem;
}

.custom-switch {
    padding-right: 0;
}

.custom-switch .custom-control-label {
    height: 1.571rem;
    width: 3.1rem;
    padding: 0;
    background-color: #012344;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.custom-control-label {
    position: relative;
    margin-bottom: 0;
    vertical-align: top;
    display: inline-block;
}

.custom-switch .custom-control-label::before {
    border: none;
    background-color: #E2E2E2;
    height: 1.571rem;
    right: -0.2857rem;
    box-shadow: none !important;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    top: 0;
    right: 0;
}

.custom-switch .custom-control-label::before {
    right: -3.5rem;
    width: 3rem;
    pointer-events: all;
    border-radius: 0.857rem;
}

.custom-switch .custom-control-label:after {
    position: absolute;
    top: 2px;
    right: 2px;
    box-shadow: none;
    background-color: #F9D036;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.btn-group.bootstrap-select.bg-white.border.fit-width {
    margin: 0;
    height: 35px;
    border-radius: 5px;
}

div.dataTables_wrapper {
    margin: 0 0 !important;
}


/* switch buttons  */

.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 25px;
}


/* Hide default HTML checkbox */

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}


/* The slider */

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: #F9D036;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #012344;
}

input:focus+.slider {
    box-shadow: 0 0 1px #012344;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}


/* Rounded sliders */

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}